* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-bg: #313628;
  --color-font: bisque;
  --color-active: beige;
  --color-white: aliceblue;
  --color-black: black;
}

body {
  background-color: var(--color-bg);
  color: var(--color-font);
}

button {
  margin-top: 3vh;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: var(--color-theme-font);
  color: var(--color-theme-bg);
  font-weight: bold;
}

button:hover {
  box-shadow: 0 0 20px black;
  transform: scale(1.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

button:active {
  background-color: var(--color-theme-active);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
